fastapi
uvicorn
gunicorn

pydantic[email]
pydantic-settings
python-dotenv

httpx
stripe

sqlalchemy
psycopg2-binary

bcrypt
python-jose[cryptography]
passlib[bcrypt]

bleach

supabase
python-multipart
